.buildlog {
  h1 {
    color: #8a8a8a;
    border-bottom: 1px solid #eeeeee;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }

  .stage {
    margin-top: 50px;
  }

  h2 {
    border: 1px solid #f3f3f3;
    border-left: 10px solid #f3f3f3;
    color: #5a5a5a;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding: 14px 10px 14px;

    &:hover {
      cursor: pointer;
      background: #f7f7f7;
    }

    &.success {
      border-left-color: green;
    }

    &.fail {
      border-left-color: red;
    }
  }

  .log {
    margin: 20px;
    padding: 7px 10px 7px;
    background: #0a0a0a;
    color: #fefefe;
    font-family: "Source Code Pro", "Monaco", "Consolas", monospace;
    font-size: 14px;

    p {
      margin: 0;
    }
  }
}
