@import "coloring";
@import "fonts";

.buildlog {
  h1 {
    color: $buildlog-stage-title-color;
    border-bottom: 1px solid #eeeeee;
    font-family: $buildlog-stage-title-font;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }

  .stage:not(:first-child) {
    margin-top: 50px;
  }

  h2 {
    border: 1px solid #f3f3f3;
    border-left: 10px solid #f3f3f3;
    color: $buildlog-action-title-color;
    font-family: $buildlog-action-title-font;
    font-weight: 500;
    font-size: 13px;
    padding: 14px 10px 14px;

    &:hover {
      cursor: pointer;
      background: #f7f7f7;
    }

    &.success {
      border-left-color: $buildlog-success-color;
    }

    &.fail {
      border-left-color: $buildlog-fail-color;
    }
  }

  .log {
    margin: 20px;
    padding: 7px 10px 7px;
    background: $buildlog-log-background-color;
    color: $buildlog-log-font-color;
    font-family: $buildlog-log-font;
    font-size: 14px;

    p {
      margin: 0;
    }
  }
}
