@import "coloring";
@import "fonts";

.card {
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 1px 3px #dddddd;
  background: #ffffff;
  width: 330px;

  &.list {
    width: 100%;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    .title {
      padding: 15px 20px;
      width: 100%;
      color: $card-list-font-color;

      a {
        color: $card-list-font-color;
      }
    }
  }

  h3 {
    color: $card-title-color;
    font-family: $card-title-font;
    font-size:   12px;
    font-weight: 600;
    text-align:  center;
    margin-top:  0;
    margin-bottom: 13px;
  }
}
