@import "coloring";
@import "fonts";

.card {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 1px 3px #dddddd;
  padding: 10px;
  width: 330px;

  &.full-width {
    width: 100%;
  }

  &.list {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    padding: 8px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    a {
      color: $card-list-font-color;
      padding: 15px 20px;
      width: 100%;
    }
  }

  h3 {
    color: $card-title-color;
    font-family: $card-title-font;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 13px;
    margin-top: 0;
    text-align: center;
  }
}
