.dropdown {
  display: inline-block;
  position: relative;

  .content {
    background: #ffffff;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    min-width: 120px;
    padding: 10px;
    position: absolute;
    right: -5px;
    top: 5px;
    z-index: 100;

    // triangle
    ::after {
      border: 5px solid #f7f7f7;
      border-color: transparent transparent #ffffff #ffffff;
      box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, .085);
      content:  '';
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(135deg);
      transform-origin: 0 0;
    }

    a {
      display: inline-block;
      font-size: 18px;
      width: 100%;

      &:not(:first-child) {
        margin-top: 18px;
      }
    }
  }
}
