@import "coloring";
@import "title";
@import "button";

$modal-transition-duration: 0.4s;

@keyframes show-modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: none;

  &.show {
    display: block;
    animation: show-modal $modal-transition-duration ease-out;
  }

  .close {
    transition: color $button-transition-duration;
    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 30px;
    color: $modal-close-button-color;

    &:hover {
      cursor: pointer;
      color: $modal-close-button-hover-color;
    }
  }

  h1 {
    @include title;
    margin-bottom: 70px;
  }

  .content {
    opacity: 1.0;
    z-index: 3;
    background: #ffffff;
    width: 400px;
    margin: 100px auto 0px;
    padding: 10px;
  }
}
