<header class="navbar">
  <statusbar v-bind:status="statusbar_status" v-bind:body="statusbar_body"></statusbar>

  <div class="left">
    <router-link to="/">
      <img src="/icon.svg" class="icon">
    </router-link>
    <span class="breadcrumbs" v-for="(breadcrumb, index) in breadcrumbs">
      <router-link v-bind:to="breadcrumb.route">{{ breadcrumb.title }}</router-link>
      <i class="fa fa-caret-right" aria-hidden="true" v-if="index != breadcrumbs.length - 1"></i>
    </span>
  </div>

  <div class="right">
    <i class="fa fa-bars menu" aria-hidden="true" @click="show_menu = !show_menu"></i>
    <dropdown v-if="show_menu">
      <router-link :to="{ name: 'home' }">Home</router-link>
      <router-link :to="{ name: 'apps' }">Apps</router-link>
      <router-link :to="{ name: 'devices' }">Devices</router-link>
    </dropdown>
    <img v-bind:src="gravatar_url" class="avatar">
  </div>
</header>
