<header class="navbar">
  <div class="left">
    <router-link to="/">
      <img src="/icon.svg" class="icon">
    </router-link>
    <span class="breadcrumbs" v-for="(breadcrumb, index) in breadcrumbs">
      <router-link v-bind:to="breadcrumb.route">{{ breadcrumb.title }}</router-link>
      <i class="fa fa-caret-right" aria-hidden="true" v-if="index != breadcrumbs.length - 1"></i>
    </span>
  </div>

  <div class="right">
    <div class="dropdown">
      <i class="fa fa-bars menu" aria-hidden="true"></i>
      <div class="content">
        <ul>
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/apps">Apps</router-link></li>
        </ul>
      </div>
    </div>
    <img v-bind:src="gravatar_url" class="avatar">
  </div>
</header>
