@import "coloring";
@import "fonts";
@import "button";

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 15px 8px 0;

  .left {

    .icon {
      width: 20px;
      height: 20px;
    }

    .breadcrumbs {
      display: inline;
      list-style: none;
      padding-left: 7px;
      vertical-align: center;

      .fa-caret-right {
        bottom: 5px;
        color: $breadcrumbs-caret-color;
        margin-left: 4px;
        position: relative;
      }

      li {
        display: inline;
      }

      a {
        bottom: 6px;
        color: $breadcrumbs-link-color;
        font-size: 16px;
        font-family: $breadcrumbs-link-font;
        position: relative;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .right {
    font-size: 0;

    .menu {
      display: inline-block;

      i {
        @include button-transition;

        bottom: 7px;
        color: $navbar-menu-button-color;
        display: inline;
        font-size: 20px;
        position: relative;

        &:hover {
          color: $navbar-menu-button-hover-color;
          cursor: pointer;
        }
      }
    }

    .avatar {
      border-radius: 25px;
      bottom: 2px;
      display: inline-block;
      height: 25px;
      margin-left: 14px;
      position: relative;
      width: 25px;
    }
  }
}
