<div class="page">
  <navbar></navbar>

  <appmenu active=""></appmenu>

  <div class="container">
    <h2 class="container-title">Builds</h2>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>Description</th>
          <th>Status</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="build" v-for="build in builds">
          <td class="build-description">
            <router-link :to="`/apps/${$route.params['name']}/builds/${build.id}`">Here is a message</router-link>
          </td>
          <td class="build-status">{{build.status}}</td>
          <td class="build-created-at">{{build.created_at}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button disabled>Show all builds</button>
    </div>
  </div>

  <div class="container">
    <h2 class="container-title">Deployments</h2>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Deployed</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="deployment" v-for="deployment in deployments">
          <td class="deployment-id">{{deployment.id}}</td>
          <td class="deployment-description">Here is a description</td>
          <td class="deployment-deployed-at">{{deployment.created_at}}</td>
          <td class="deployment-restore"><button disabled>Restore</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
