@import "scheme";
@import "mixin";

.leading {
  $padding: 32px;
  & {
    text-align: center;
    background: $color-main-dark;
    color: $color-main-text;
    padding: $padding 0;
  }
  &-header {
    padding-top: $padding;
  }
  &-body {
    padding: 12px 0;
  }
  &-title {
    @include nomargin;
    font-size: $font-size-large;
  }
}
