@import "scheme";
@import "mixin";

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Meiryo', 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @include nomargin;
}

body {
  & {
    @include nomargin;
    background: $color-white;
  }
  &[data-page-name="signin"], &[data-page-name="signup"], &[data-page-name="signout"] {
    & {
      background: $color-main-light;
    }
    .panel {
      width: 420px;
      margin: 128px auto;
    }
  }
}

.page {
  font-size: $font-size-medium;
}

.container {
  padding: $side-padding;
  margin-top: 32px;
}

.block {
  & {
    margin: 32px 0;
  }
  &-header {
    color: $color-main-dark;
    margin: 6px 0;
  }
  &-body {
    code {
      display: block;
      padding: 12px;
      background: $color-accent;
      color: $color-accent-text;
      border: 1px solid $color-accent-border;
    }
  }
}

.panel {
  $panel-padding: 18px;
  & {
    background: $color-white;
    color: $color-white-text;
    border: 1px solid $color-white-border;
    box-sizing: border-box;
  }
  &-header {
    background: $color-whiny-grey;
    border-bottom: 1px solid $color-whiny-grey-border;
    padding: $panel-padding/2 $panel-padding;
  }
  &-body {
    padding: $panel-padding;
  }
  &-footer {
    & {
      background: $color-sub-light;
      border-top: $color-white-border;
      padding: $panel-padding/2 $panel-padding;
    }
    ul {
      @include nomargin;
      list-style: none;
      line-height: $font-size-medium * 1.5;
    }
  }
  &-title {
    font-size: $font-size-large;
    line-height: $font-size-large * 2;
  }
  &-desc {
    font-size: $font-size-small;
    line-height: 36px;
  }
  &-title, &-desc {
    text-align: center;
  }
}

.form {
  &-errors {
    color: #c66;
    margin-bottom: 12px;
  }
  &-control {
    input, .button {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 36px;
      line-height: 36px;
      font-size: $font-size-medium;
      font-weight: normal;
      margin: 12px 0;
      padding: 0 12px;
    }
    input {
      padding: 27px 0 27px 18px;
      & {
        border: 1px solid $color-sub-light;
      }
      &:focus {
        border: 1px solid $color-sub-dark;
      }
    }
  }
}

.button {
  & {
    cursor: pointer;
    text-align: center;
  }
  &:hover {
    left: 1px;
    top: 1px;
  }
  &-success {
    background: $color-positive;
    border: 1px solid $color-positive-dark;
    color: $color-positive-text;
  }
}

.app {
  $size: 72px;
  & {
    border: 1px solid $color-sub-light;
    color: $color-sub-dark;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &-name {
    font-weight: normal;
    padding: 0 12px;
    line-height: $size;
  }
  &-right {
    display: flex;
    flex-direction: row;
    height: $size;
    &-box {
      & {
        width: $size;
        border-left: 1px solid $color-sub-light;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
      }
      &-header {
        background: $color-sub-dark;
        color: $color-white;
        line-height: 20px;
        font-size: 14px;
      }
      &-body {
        line-height: $size - 6px - 20px;
        font-size: 32px;
      }
    }
  }
}

.table {
  $height: 32px;
  &-filter {
    margin-bottom: 6px;
  }
  & {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $color-sub-light;
    background: $color-white;
    color: $color-sub-dark;
  }
  &-header {
    background: $color-main-dark;
    color: $color-white;
    line-height: $height + 6px;
    text-align: left;
  }
  &-body {
    tr {
      border-bottom: 1px solid $color-sub-light;
    }
    td {
      line-height: $height;
    }

  }
}
