os: linux
dist: trusty
sudo: required
language: ruby

services:
  - docker
  - mysql
  - postgresql
  - redis-server

addons:
  apt:
    packages:
    - mysql-server-5.5
    - mysql-client-5.5
    - mysql-client-core-5.5
  code_climate:
    repo_token:
      secure: "RfEeqwNv3ZJQYz71VFOV9B6d/0fuDw6D7iQxuE7ytTF0zDeeQLrKrUeuwS6bf2Wv92UZX52ZVB/XLODR2bqfwP/4OLuFU2VUtPSd8yGvOHCI+VSsz93ebkg9KtczukUqf4uUSFIfqFVrZjpbvVPbUOJtWN293FahG/FYokBx4iP8rD1JAFevHEWnNxSGeyHmFiKQRIabEpzL16DcBVtRcvVo2xmeqe1Dgz67gnYpbOuqY9uQRD4QbdiXURPzpPmVpwPyTy6w1+DdIo1aYEGTrU5pX8xC/5B2mkDXknk7TtUC47/qSIALPJ0/QI+uzZjrD3hg5ZYJzQru8gH6c4fltTlBadfcgIw7yYy6o1j0u/lsq4I6W4/6+wzPN+yOyCp0Abo6xROlOUWlZNV/7msWr8YfF+KWfUidBTs12YcC3NaqAG1vH+iYicA5IksKsezpikrGD0vnTNqWDPeSrCVAyYIxEdulJv69sWcrX4P4oBjVxsvHZXeMrqlev32Z3mTNZhjKENc2haq860sSoIRkukjkn6ANU+opyCUCKY7r38UEV0UQj5vzmKzqre5/L8XxXSRGSxz5wGFdbZYHZ+dJ8mNUpz7kegSGetjxm498FhruPOD2i0f0/0ogg38XRQa8EeuMLqYCjjhOOX4o4fUyEAi02Vu/hMXjyxkiSmkmEvM="


rvm:
  - 2.3.1
  - 2.2.5

env:
  - DB=sqlite
  - DB=postgresql
  - DB=mysql

cache:
  directories:
    - vendor/bundle

before_install:
  - sudo apt-get install -y mysql-server mysql-client
  - cp ci/database.$DB.yml config/database.yml
  - psql  -c 'create database travis_ci_test;' -U postgres
  - mysql -e 'create database travis_ci_test;' -u root
  - sudo npm install -g npm@4.0.0 # refer https://github.com/npm/npm/pull/14117

install:
  - bundle install --jobs 2 --path vendor/bundle
  - NPM_CONFIG_PROGRESS=false npm install --no-spin

before_script:
  - bundle exec rails db:migrate RAILS_ENV=test

script:
  - "CODECLIMATE=true bundle exec rspec"
  - "npm run test" # TODO: send test converage
