os: linux
dist: trusty
sudo: required
language: ruby

notifications:
  on_success: change
  on_failure: change

services:
  - docker
  - mysql
  - postgresql
  - redis-server

addons:
  code_climate:
    repo_token:
      secure: "gYffGb/iRfEfRlcuP7WwvIbKqHZ+VDuq8WfGNuV+L+gA7pDlgAn3mlbzuSY+TVcbMaxPejjrBUqEpHl7zxU5djLeKJL0m4SJTEHgGLUYAV4LpWEF2/Gic59V/IRf8IwBQ5PMgvlL7T/0+hdsa5EVM2WyIzet3YgGql+1EbJRXA/tOTUsZb6PcWA6fQJxck1Uve5CrNVBWUByChBc4Uh97b33KVlkEtyxbLb0Vf8r6wgCLpZDGvwBm6ayNhNTqXGb90zcSecivywhoJMhAzOBYiQYITLwhVrrhrQDNTCbwq/sey4nmPRDBHrFTE8u7puHTqiCH2Qf3gCIAR/yXfn60RxexQ8Fult7EgLiW5jPpX05hWgTyHxfqy6+5PnSug6Xq/Sl+kwKAqnU1/SO50EwlY9pasgY18xMXc7ILq87HiQL1A31xNOqob3ICM5GMhYvLSNoisBG0Fka3LIpC3WIhk6SqDqKgtq49BopEpRda8kqWStfFjWIHz2ns5aEjiL5W1ZOVi0eOJiOtlg1WVdTu3EtNASKfqd+jBOuT32poA9su8BIYHpDBfXt5ROoHIpduSKIiV/Sndpz7/h/pTDvMMEAJOEzrLyINF2ixdieMDhsyZeZt9QyS3ItiCjseykepae52Vj+t6ztt0JELJYzfD2Ve3JAVmSVLp7OwzkZNEw="

rvm:
  - 2.3.1
  - 2.2.5

env:
  - DB=sqlite
  - DB=postgresql
  - DB=mysql

cache:
  directories:
    - vendor/bundle
    - node_modules

before_install:
  - cp ci/database.$DB.yml config/database.yml
  - psql  -c 'create database travis_ci_test;' -U postgres
  - mysql -e 'create database travis_ci_test;' -u root
  - npm install -g npm@4.0.3

install:
  - bundle install --jobs 2 --path vendor/bundle
  - npm install

before_script:
  - bundle exec rails db:migrate RAILS_ENV=test

script:
  - npm run build
  - "CODECLIMATE=true bundle exec rspec"
