$font-size-large: 32px;
$font-size-medium: 18px;
$font-size-small: 12px;
$side-padding: 0 32px;

// image color
$color-main-light: #B2D9FF;
$color-main-dark: #6B8FB2;
$color-main-text: #F0F0F0;
$color-sub-light: #D4D4D4;
$color-sub-dark: #7F7F7F;
$color-sub-text: #F0F0F0;
$color-accent: #fdf6e3;
$color-accent-border: #EED2A2;
$color-accent-text: #657b83;

// general
$color-white: #FFFFFF;
$color-white-text: #555555;
$color-white-border: #CCCCCC;
$color-whiny-grey: #F5F5F5;
$color-whiny-grey-border: #EEEEEE;
$color-positive: #CCDD66;
$color-positive-dark: #BBDD55;
$color-positive-text: #336633;
