<div>
  <nav-bar v-bind:breadcrumbs="breadcrumbs"></nav-bar>
  <main class="app">
    <header>
      <h1>{{ app_name }}</h1>
      <div class="buttons">
        <router-link :to="{ path: 'deployments', params: {app_name: this.app_name }}">
          <button>deployments</button>
        </router-link>
        <router-link :to="{ path: 'deployments', params: {app_name: this.app_name }}">
          <button>devices</button>
        </router-link>
        <div class="middledot"></div>
        <router-link :to="{ path: 'deployments', params: {app_name: this.app_name }}">
          <button class="delete-button">delete</button>
        </router-link>
      </div>
    </header>
  </main>
</div>
