<div>
  <modal v-if="show_create_modal" @close="show_create_modal = false">
    <h1 slot="title">Create a new app</h1>
    <form v-on:submit.prevent="create_app" slot="content">
      <label>Name</label>
      <input type="text" v-model="app_name" required="required" autofocus>
      <input type="submit" value="create">
    </form>
  </modal>

  <nav-bar v-bind:breadcrumbs="breadcrumbs"></nav-bar>
  <main class="apps">
    <header>
      <h1>Apps</h1>
      <div class="buttons">
        <button class="accent-button" @click="show_create_modal = true">create</button>
      </div>
    </header>
    <div class="list">
      <card v-for="app in apps" type="list">
         <router-link :to="{ name: 'app', params: {app_name: app.name}}" slot="title">
          {{ app.name }}
        </router-link>
      </card>
    </div>
  </main>
</div>
