<div>
  <navbar v-bind:breadcrumbs="breadcrumbs"></navbar>
  <main class="deployment-view">
    <header>
      <h1>Deployment #{{ version }}</h1>
      <div class="meta">
        <p class="status" v-bind:class="status">
          <i class="fa fa-check" v-if="status == 'success'" aria-hidden="true"></i>
          <i class="fa fa-hourglass-half" v-else-if="status == 'building'" aria-hidden="true"></i>
          <i class="fa fa-close" v-else aria-hidden="true"></i>
          <span>{{ status }}</span>
        </p>
        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span>finished at {{ updated_at }}</span>
        </p>
        <p>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>started at {{ created_at }}</span>
        </p>
      </div>
    </header>

    <card class="full-width">
      <build-result slot="content" v-bind:build_log="build_log"></build-result>
    </card>
  </main>
</div>
