<div>
  <modal v-bind:show="show_add_modal" @close="show_add_modal = false">
    <h1 slot="title">Add to an app</h1>
    <form v-on:submit.prevent="add_to_app" slot="content">
      <label>App</label>
      <select v-model="add_device_to">
        <option v-bind:value="app.name" v-for="app in apps">{{ app.name }}</option>
      </select>
      <input type="submit" v-bind:value="add_modal_submit_button">
    </form>
  </modal>

  <navbar v-bind:breadcrumbs="breadcrumbs"></navbar>
  <main class="device">
    <header>
      <h1>{{ device_name }}</h1>
      <div class="buttons">
        <button class="accent-button" @click="show_add_modal = ! show_add_modal">
          add to an app
        </button>
      </div>
    </header>

    <card class="full-width">
      <h3 slot="title">Device Log</h3>
      <devicelog v-bind:log="devicelog" slot="content"></deivcelog>
    </card>
  </main>
</div>
