@import "coloring";
@import "fonts";
@import "form";


.login-view {
  padding-top: 100px;
  height:      100%;
  width:       100%;
  position:    absolute;
  top:         0;
  left:        0;
  background:  $login-background-color;

  h1 {
    font-family: $login-title-font;
    text-align: center;
  }

  .form {
    width: $short-input-width + 20px;
    margin: 40px auto 0;

    input[type=submit] {
      width: $short-input-width + 15px;
    }

    .login-button {
      margin-top: 30px;
    }
  }
}
