[Unit]
Description=makestack
After=network.target sidekiq.service

[Service]
WorkingDirectory=/opt/makestack
User=makestack
RestartSec=1
Restart=on-failure
PIDFile=/opt/makestack/tmp/puma.pid
ExecStart=/usr/bin/bundle exec puma -C config/puma.rb -e production

[Install]
WantedBy=multi-user.target
