[Unit]
Description=sidekiq
After=syslog.target network.target redis-server.service

[Service]
Type=simple
WorkingDirectory=/opt/makestack
ExecStart=/usr/bin/bundle exec sidekiq -C ./config/sidekiq.yml -e production
User=makestack
RestartSec=1
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
