@import "coloring";

$button-transition-duration: .5s;

@mixin button-transition {
  transition: all $button-transition-duration;
}

@mixin button {
  @include button-transition;

  appearance: none;
  background: #ffffff;
  border: 1px solid $normal-button-color;
  border-radius: 3px;
  color: $normal-button-color;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 12px;

  &:hover {
    background: $normal-button-hover-color;
    border-color: $normal-button-hover-color;
    color: #ffffff;
  }

  &:active {
    background: $normal-button-active-color;
    border-color: $normal-button-active-color;
    color: $normal-button-active-color;
  }
}

@mixin accent-button {
  @include button;
  border-color: $accent-button-color;
  color: $accent-button-color;

  &:hover {
    background: $accent-button-hover-color;
    border-color: $accent-button-hover-color;
    color: #ffffff;
  }

  &:active {
    background: $accent-button-active-color;
    border-color: $accent-button-active-color;
    color:  #ffffff;
  }
}

@mixin delete-button {
  @include button;

  color: $delete-button-color;
  border-color: $delete-button-color;

  &:hover {
    background: $delete-button-hover-color;
    border-color: $delete-button-hover-color;
    color: #ffffff;
  }

  &:active {
    background: $delete-button-active-color;
    border-color: $delete-button-active-color;
    color: #ffffff;
  }
}


button {
  @include button;

  &.accent-button {
    @include accent-button;
  }

  &.delete-button {
    @include delete-button;
  }
}
