$title-color: #3a3a3a;
$default-font-color: #333333;

//
//  Buttons
//
$normal-button-color: #3f3f3f;
$normal-button-hover-color: #3f3f3f;
$normal-button-active-color: #7a7a7a;
$accent-button-color: #0451ac;
$accent-button-hover-color: #0451ac;
$accent-button-active-color: #00a1d9;
$delete-button-color: #ee2222;
$delete-button-hover-color: #ee2222;
$delete-button-active-color: #ff3333;

//
//  Modal
//
$modal-close-button-color: #9a9a9a;
$modal-close-button-hover-color: #3a3a3a;

//
//  Link
//
$link-color: #4f8fcf;
$link-hover-color: #00bdff;
$link-active-color: #ff7765;

//
//  Login
//
$login-background-color: #f9f9f9;

//
//  Card
//
$card-title-color: #4a4a4a;
$card-list-font-color: #4a4a4a;

//
//  Navbar
//
$navbar-menu-button-hover-color: #000000;
$navbar-menu-button-color: #707070;
$breadcrumbs-caret-color: #7e7d70;
$breadcrumbs-link-color: #4e4d40;

//
//  Buildlog
//
$buildlog-stage-title-color: #8a8a8a;
$buildlog-log-background-color: #0a0a0a;
$buildlog-log-font-color: #fafafa;
$buildlog-action-title-color: #8a8a8a;
$buildlog-success-color: #00a388;
$buildlog-fail-color: #cd2c24;

//
//  Devicelog
//
$devicelog-background-color: $buildlog-log-background-color;
$devicelog-font-color: $buildlog-log-font-color;

//
//  Statusbar
//
$statusbar-success-font-color: #111111;
$statusbar-success-background-color: #beeb9f;
$statusbar-success-border-color: #00a388;
$statusbar-failure-font-color: #111111;
$statusbar-failure-background-color: #f2836b;
$statusbar-failure-border-color: #cd2c24;
