.dropdown {
  position: relative;
  display:  inline-block;

  &:hover .content {
    display: block;
  }

  .content {
    display: none;
    position: absolute;
    top: 22px;
    right: -14px;
    padding: 10px;
    min-width: 120px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 1px 3px #dddddd;
    background: #ffffff;
    box-shadow:0px 1px 3px rgba(0,0,0, 0.2);
    z-index: 1;

    // triangle
    :after {
      position: absolute;
      top:      0px;
      right:    0px;
      content:  '';
      border:           5px solid #f7f7f7;
      border-color:     transparent transparent #ffffff #ffffff;
      transform-origin: 0 0;
      transform:        rotate(135deg);
      box-shadow:       -1px 1px 1px 0 rgba(0, 0, 0, 0.085);
    }

    ul {
      list-style:   none;
      margin:       3px;
      padding:      0;
      font-size:    18px;

      li {
        display: inline-block;
        width: 100%;

        &:not(:first-child) {
          margin-top: 18px;
        }
      }
    }
  }
}
