$title-font:  "Lucida Grande", "Arial", sans-serif;
$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Meiryo', 'Ubuntu', sans-serif;
$card-title-font: "Lucida Grande", "Arial", sans-serif;
$breadcrumbs-link-font: "Avenir", "Calibri", sans-serif;
$buildlog-stage-title-font: "Helvetica Neue", sans-serif;
$buildlog-action-title-font: "Helvetica Neue", sans-serif;
$buildlog-log-font: "Source Code Pro", "Monaco", "Consolas", monospace;
$devicelog-log-font: "Source Code Pro", "Monaco", "Consolas", monospace;
