@import "button";

$short-input-width: 200px;

form {
  margin: 0 auto 0;
}


label {
  display:       block;
  margin-top:    15px;
  margin-bottom: 9px;
  font-size:     16px;
  font-weight:   500;
}

select {
  font-size: 18px;
  min-width: 200px;
  height: 35px;
  background: #ffffff;
}

input {
  padding: 6px 8px 6px;
  display: block;
  font-size: 14px;

  &[type=text], &[type=password] {
    width: $short-input-width;
  }

  &[type=submit] {
    @include accent-button;
    margin-top: 80px;
  }
}
