@import "button";

$short-input-width: 200px;

form {
  margin: 0 auto;
}


label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 9px;
  margin-top: 15px;
}

select {
  background: #ffffff;
  font-size: 18px;
  height: 35px;
  min-width: 200px;
}

input {
  display: block;
  font-size: 14px;
  padding: 6px 8px;

  &[type=text],
  &[type=password] {
    width: $short-input-width;
  }

  &[type=submit] {
    @include accent-button;
    margin-top: 80px;
  }
}
