@import "button";

$short-input-width: 200px;

form {
  margin: 0 auto 0;
}


label {
  margin-top:    15px;
  margin-bottom: 6px;
  display:       block;
  font-weight:   500;
}

input {
  padding: 6px 8px 6px;
  display: block;
  font-size: 14px;

  &[type=text], &[type=password] {
    width: $short-input-width;
  }

  &[type=submit] {
    @include accent-button;
  }
}
