@import "title";

main {
  margin: 80px auto 0;
  width: 90%;

  @media screen and (min-width: 850px) {
    width: 800px;
  }

  header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    h1 {
      @include title;
      margin: 0;
      margin-top: auto;
    }

    .meta {
      margin-top: auto;
    }

    .buttons {
      margin-top: auto;

      & > a:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
