@import "fonts";
@import "coloring";
@import "button";
@import "title";
@import "form";
@import "list";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~nprogress/nprogress";


body {
  color: $default-font-color;
  font-family: $default-font-family;
  font-size: 14px;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

.middledot {
  color: #b7b7b7;
  display: inline;

  &::after {
    content: "・";
  }
}


main {
  margin: 80px auto 0;
  width: 90%;

  @media screen and (min-width: 850px) {
    width: 800px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    h1 {
      @include title;
      margin: 0;
      margin-top: auto;
    }

    .meta {
      margin-top: auto;
    }

    .buttons {
      margin-top: auto;

      a:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
